/* scss의한 관리x, color맞춰줘야함 */
/* Header */
#globalHeader {
    max-width: 1000px;
    height: 30px;
    padding: 0px 30px 0px 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
}
#headerFloating {
    max-width: 1000px;
    position: sticky;
    top: -1px;
    padding: 20px 40px 20px 40px;
    margin: auto;
    background-color: #f1eee9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* common.scss로 이동하기 */
.title {
    font-family: "Gowun Batang", serif;
    color: #ec994b;
}
#headerNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Main */
#main {
    max-width: 1000px;
    padding: 50px;
    margin: auto;
    min-height: 220px;
}

/* Footer */
#footer {
    max-width: 1000px;
    background-color: #73777b;
    padding: 20px 30px 20px 30px;
    margin: auto;
    color: #f1eee9;
}
#card {
    width: 280px;
    height: 160px;
    background-color: #f1eee9;
    margin: auto;
}
